<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Civil Bank</title>
    @Styles.Render("~/Content/css")

    <link href="~/Theme/css/metisMenu.css" rel="stylesheet" />
    <link href="~/Theme/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/Theme/css/font-awesome.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @*style links*@

</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
           @Html.Partial("_TopNav")
            <!-- /.navbar-top-links -->
           @Html.Partial("_SidebarPartial")
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    @RenderBody()
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <script src="~/Theme/js/metisMenu.js"></script>
    <script src="~/Theme/js/sb-admin-2.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
