@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="dropdown-menu dropdown-user">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <li>
                <a href="@Url.Action("Index", "Manage")">
                    <i class="fa fa-user"></i>Hello @User.Identity.GetUserName() !
                </a>
            </li>
            <li class="divider"></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-user"></i> Log off</a></li>

        }
    </ul>
}
else
{
    <ul class="dropdown-menu dropdown-user">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
