@model IEnumerable<SOIT.Data.UserProfile>
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="/UserProfile/Create" class="btn btn-warning btn-sm pull-right"><i class="fa fa-plus"></i> Create</a>
        <h4>User Profile</h4>
    </div>
    <div class="panel-body">
        <!-- Is Deleted Message Present? is yes, show info-->
        @if (TempData["DeleteMessage"] != null)
        {
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Info!</strong> @TempData["DeleteMessage"]
            </div>
        }
        <div class="alert-info">

        </div>
        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Gender</th>
                    <th>Photo</th>
                    <th>Quali.</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FullName</td>
                        <td>@item.Address</td>
                        <td>@item.Mobile</td>
                        <td>@item.Gender</td>
                        <td><img src="~/UserImage/@item.Photo" height="40" width="40" alt="user photo" /></td>
                        <td>
                            <button class="btn btn-xs btn-primary qualification" data-itemid="@item.Id">Show Quali.</button>
                        </td>
                        <td>
                            @if (item.Status.Value)
                            {
                                <a href="javascript:void(0)" data-itemid="@item.Id" class="btn btn-success btn-xs changeStatus">
                                    Active
                                </a>
                            }
                            else
                            {
                                <a href="javascript:void(0)" data-itemid="@item.Id" class="btn btn-danger btn-xs changeStatus">
                                    Inactive
                                </a>
                            }
                        </td>
                        <td>
                            <a href="/UserProfile/Edit?Id=@item.Id">Modify</a>
                            <a href="/UserProfile/Delete?Id=@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div class="modal fade" id="qualificaitonModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">User Qualification/Certification</h4>
            </div>
            <div class="modal-body">
                <div>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#list" aria-controls="list" role="tab" data-toggle="tab">List</a></li>
                        <li role="presentation"><a href="#new" aria-controls="new" role="tab" data-toggle="tab">New</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="list">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Institution</th>
                                        <th>Receive Date</th>
                                        <th>Type</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="qualificationData"></tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="new">
                            <div class="row">
                                <form id="newQualificationForm" name="newQualificationForm">
                                    <input type="hidden" id="userProfileId" name="userProfileId" />
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="Title" class="control-label col-md-3">Title:</label>
                                            <div class="col-md-9">
                                                <input type="text" id="Title" name="Title" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Institution" class="control-label col-md-3">Institution:</label>
                                            <div class="col-md-9">
                                                <input type="text" id="Institution" name="Institution" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="ReceiveDate" class="control-label col-md-3">Received Date:</label>
                                            <div class="col-md-9">
                                                <input type="text" id="ReceiveDate" name="ReceiveDate" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Qualif./Training:</label>
                                            <div class="col-md-9 radio">
                                                <div class="col-md-4">
                                                    <input type="radio" id="Qualification" name="quali_certi</div>" class="" value="Q" checked />
                                                    <label for="Qualification">Qualification</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="radio" id="Certificate" name="quali_certi" class="" value="C" />
                                                    <label for="Certificate">Certificate</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="button" id="SaveQualificaiton" class="btn btn-sm btn-warning"><i class="fa fa-save"></i> Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script>
        //$('.changeStatus').click(function () {

        //})
        $('.changeStatus').on('click', function () {
            debugger;
            var id = $(this).data('itemid');
            var isConfirmed = confirm("Are you sure to change Status? itemid=" + id);
            if (isConfirmed) {
                // write request code to change status.
                $.ajax({
                    url: '/UserProfile/ChangeStatus?Id=' + id,
                    method: 'POST',
                    //data: { Id: id },
                    success: function (responseVal) {
                        debugger;
                        if (responseVal == "success") {
                            window.location.reload();
                        } else {

                        }
                    },
                    error: function (errorVal) {
                        debugger;
                    }
                })
            }
        })

        var loadQualifications = function (id) {
            $('#qualificationData').html('');
            $.ajax({
                url: '/UserProfile/GetUsersQualification?Id=' + id,
                method: 'GET',
                cache: false,
                success: function (reponseVal) {
                    $('#userProfileId').val(id);
                    $.each(reponseVal, function (i, v) {
                        var qualification_certificate = '';
                        if (v.IsEducation) {
                            qualification_certificate = "Educational";
                        }
                        if (v.IsCertification) {
                            qualification_certificate = "Training";
                        }
                        var tr = '<tr>' +
                            '<td>' + v.Title + '</td>' +
                            '<td>' + v.Institution + '</td>' +
                            '<td>' + v.ReceiveDate + '</td>' +
                            '<td>' + qualification_certificate + '</td>' +

                            '<td><a href="javascript:void(0)" class="deleteQualification" data-id="' + v.Id + '" data-userprofileid="' + v.UserProfileId + '" ><i class="fa fa-trash"></i></a></td>' +
                            '</tr>';
                        $('#qualificationData').append(tr);
                    })

                },
                error: function (errorVal) {

                }
            })
        }

        $('.qualification').on('click', function () {
            var id = $(this).data('itemid');
            loadQualifications(id);
            $('#qualificaitonModal').modal('toggle');
        })

        $('#SaveQualificaiton').on('click', function () {
            var title = '';
            var institution = '';
            var receiveDate = '';
            var quali_certi = '';
            var userProfileId = '';
            title = $('#Title').val();
            institution = $('#Institution').val();
            receiveDate = $('#ReceiveDate').val();
            quali_certi = $('input[name=quali_certi]:checked').val();
            userProfileId = $('#userProfileId').val();
            //var formData = $('#newQualificationForm').serialize();
            $.ajax({
                url: '/UserProfile/SaveUserQualification',
                method: 'POST',
                cache: false,
                data: { userProfileId: userProfileId, title: title, institution: institution, receiveDate: receiveDate, quali_certi: quali_certi },
                success: function (responseData) {
                    $('#newQualificationForm')[0].reset(); // resetting all element values
                    loadQualifications(userProfileId); // after save success load list of qualification
                    //$('#list').tab('show'); // then activate list tab.
                    $('li').removeClass('active');
                    $('.tab-pane').removeClass('active')
                    $('.tab-pane#list').addClass('active')
                    //$('#qualificaitonModal').modal('toggle');
                }, error: function (errorVal) {

                }
            })
        })

        $(document).on('click', '.deleteQualification', function () {
            var qualificationId = $(this).data('id');
            var userProfileId = $(this).data('userprofileid');
            var isDeleteConfirm = confirm("Are you sure to delete? Once deleted record cannot be recovered?");
            if (isDeleteConfirm) {
                $.ajax({
                    url: '/UserProfile/DeleteUserQualification?Id=' + qualificationId,
                    method: 'POST',
                    cache: false,
                    success: function (responseData) {
                        loadQualifications(userProfileId);
                    }, error: function (errorVal) {

                    }
                })
            }
        })
    </script>
}