@model IEnumerable<SOIT.Models.Data.UserProfile>
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="/UserProfile/Create" class="btn btn-warning btn-sm pull-right"><i class="fa fa-plus"></i> Create</a>
        <h4>User Profile</h4>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Gender</th>
                    <th>Photo</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FullName</td>
                        <td>@item.Address</td>
                        <td>@item.Mobile</td>
                        <td>@item.Gender</td>
                        <td><img src="~/UserImage/@item.Photo" height="40" width="40" alt="user photo" /></td>
                        <td>
                            @if (item.Status.Value)
                            {
                                <a href="javascript:void(0)" data-itemid="@item.Id" class="btn btn-success btn-xs changeStatus">
                                    Active
                                </a>
                            }
                            else
                            {
                                <a href="javascript:void(0)" data-itemid="@item.Id" class="btn btn-danger btn-xs changeStatus">
                                    Inactive
                                </a>
                            }
                        </td>
                        <td>
                            <a href="/UserProfile/Edit?Id=@item.Id">Modify</a>
                            <a href="/UserProfile/Delete?Id=@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section scripts{
    <script>
        //$('.changeStatus').click(function () {

        //})
        $('.changeStatus').on('click', function () {
            debugger;
            var id = $(this).data('itemid');
            var isConfirmed = confirm("Are you sure to change Status? itemid=" + id);
            if (isConfirmed) {
                // write request code to change status.
                $.ajax({
                    url: '/UserProfile/ChangeStatus?Id=' + id,
                    method: 'POST',
                    //data: { Id: id },
                    success: function (responseVal) {
                        debugger;
                        if (responseVal == "success") {
                            window.location.reload();
                        } else {

                        }
                    },
                    error: function (errorVal) {
                        debugger;
                    }
                })
            }
        })
    </script>
}