@model IEnumerable<SOIT.Models.Data.UserProfile>
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="/UserProfile/Create" class="btn btn-warning btn-sm pull-right"><i class="fa fa-plus"></i> Create</a>
        <h4>User Profile</h4>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Gender</th>
                    <th>Photo</th>
                    <th>Quali.</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FullName</td>
                        <td>@item.Address</td>
                        <td>@item.Mobile</td>
                        <td>@item.Gender</td>
                        <td><img src="~/UserImage/@item.Photo" height="40" width="40" alt="user photo" /></td>
                       <td>
                           <button class="btn btn-xs btn-primary qualification" data-itemid="@item.Id">Show Quali.</button>
                       </td>
                        <td>
                            @if (item.Status.Value)
                            {
                                <a href="javascript:void(0)" data-itemid="@item.Id" class="btn btn-success btn-xs changeStatus">
                                    Active
                                </a>
                            }
                            else
                            {
                                <a href="javascript:void(0)" data-itemid="@item.Id" class="btn btn-danger btn-xs changeStatus">
                                    Inactive
                                </a>
                            }
                        </td>
                        <td>
                            <a href="/UserProfile/Edit?Id=@item.Id">Modify</a>
                            <a href="/UserProfile/Delete?Id=@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div class="modal fade" id="qualificaitonModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">User Qualification/Certification</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Institution</th>
                            <th>Receive Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="qualificationData">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script>
        //$('.changeStatus').click(function () {

        //})
        $('.changeStatus').on('click', function () {
            debugger;
            var id = $(this).data('itemid');
            var isConfirmed = confirm("Are you sure to change Status? itemid=" + id);
            if (isConfirmed) {
                // write request code to change status.
                $.ajax({
                    url: '/UserProfile/ChangeStatus?Id=' + id,
                    method: 'POST',
                    //data: { Id: id },
                    success: function (responseVal) {
                        debugger;
                        if (responseVal == "success") {
                            window.location.reload();
                        } else {

                        }
                    },
                    error: function (errorVal) {
                        debugger;
                    }
                })
            }
        })

        $('.qualification').on('click', function () {
            var id = $(this).data('itemid');
            $.ajax({
                url: '/UserProfile/GetUsersQualification?Id=' + id,
                method: 'GET',
                cache: false,
                success: function (reponseVal) {
                    debugger;
                    $.each(reponseVal, function (i, v) {
                        var tr = '<tr>' +
                            '<td>'+v.Title+'</td>' +
                            '<td>'+v.Institution+'</td>' +
                            '<td>'+v.ReceiveDate+'</td>' +
                            '<td></td>'+
                            '</tr>';
                        $('#qualificationData').append(tr);
                    })
                    $('#qualificaitonModal').modal('toggle');
                },
                error: function (errorVal) {

                }
            })
        })
    </script>
}